@import "./core/variables.";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;  
}

a {
  color: white;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }

  .footer & {
    color: #54585a;
  }
}
//RESET FONT TO 10PX

html {
  /* 1rem = 10px */
  font-size: 62.5%;  
}

/* HEADER */
@import "components/header";

/* HERO */
@import "./components/hero";

/*  TEAM */
@import "./components/team";

/* QUALITIES S&F */
@import "./components/qualities";

/* ABOUT US */
@import "./components/aboutus";

/* CONTACT */
@import "./components/contact";

/* FOOTER  */
@import "./components/footer";
