@import './core/variables.';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

a {

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    color: white;
  }
}

/* HEADER */
@import 'components/header';

/* HERO */
@import "./components/hero";

/*  TEAM */
@import "./components/team";

/* QUALITIES S&F */
@import "./components/wys";

/* ABOUT US */
@import "./components/aboutus";

/* FOOTER  */
@import "./components/footer";