<li class="adalabers">
  <div class="individual__image">
    <img class="individual__image__adalaber" src="@@link_photo" alt="@@description__photo" />
  </div>
  <div class="individual__bio">
    <h3 class="individual__title">@@name</h3>
    <p class="individual__text">
      @@description
    </p>
    <aside class="individual__socialnetworks">
      <ul class="individual__logos">
        <li class="individual__logos__list">
          <a href="@@link__twitter" target="_blank" class="individual__logos__link">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="individual__logos__list">
          <a href="@@link__linkedin" target="_blank" class="individual__logos__link">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li class="individual__logos__list">
          <a href="@@link__github" target="_blank" class="individual__logos__link">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="individual__logos__list">
          <a href="@@mail" target="_blank" class="individual__logos__link">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
      </ul>
    </aside>
  </div>
  </div>
</li>
</ul>
