<li class="adalaber__cris">
    <div class="individual__image">
      <img class="individual__image__adalaber" src="@@link_photo"
        alt="@@description__photo" />
    </div>
    <div class="individual__bio">
      <div class="reverse">
        <h3 class="individual__title">@@name</h3>
        <p class="individual__text__rev">
          @@description
        </p>
        <aside class="individual__socialnetworks">
          <ul class="logos">
            <li class="logo__list">
              <a href="@@link__twitter" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="logo__list">
              <a href="@@link__linkedin" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="logo__list">
              <a href="@@link__github" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li class="logo__list">
              <a href="@@mail" target="_blank">
                <i class="fas fa-envelope"></i>
              </a>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </li>