<footer class="footer">
  <p class="footer__copyright">YES! We code. &copy 2019</p>
  <nav class="footer__menu">
    <ul class="footer__menu__list">
      <a href="index.html#team">
        <li>EQUIPO</li>
      </a>
      <a href="index.html#who">
        <li>QUIÉNES SOMOS</li>
      </a>
      <a href="https://www.ascodevida.com/">
        <li>CONTACTO</li>
      </a>
    </ul>
  </nav>
  <a href="index.html#top">
    <img class="footer__logo" src="./assets/images/logo-adalab.png" alt="logo Adalab" />
  </a>
</footer>
