<header class="header">
  <a href="../index.html#top">
    <h1 class="header__team__name">
      <span class="header__team__name__yes">Yes!</span> We code.
    </h1>
  </a>
  <nav class="header__menu">
    <ul class="header__menu__options">
      <li class="nav__team">
        <a href="index.html#team" title="Conócenos">equipo</a>
      </li>
      <li class="nav__who">
        <a href="index.html#who" title="Aprende más sobre nosotras">quiénes somos</a>
      </li>
      <li class="nav__contact">
        <a href="../contact.html" target="_blank" title="Habla con nosotras">contacto</a>
      </li>
    </ul>
  </nav>
</header>
