.individual {
  &__description {
    padding-top: 30px;

  }

  &__description__title {
    font-family: $fontRubik;
    color: $fontColor;
    line-height: 45px;
    text-align: center;
  }

  &__title {
    text-align: center;
    font-family: $fontOpensans;
    font-size: 20px;
    line-height: 45px;
    margin: 0;
  }
}

.adalabers {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.individual__image__adalaber {
  max-height: 180px;
  box-sizing: border-box;
  border: solid 5px;
  border-color: rgba(0, 0, 0, 0.08);
  margin: 0;
}

.individual__bio {
  font-family: $fontOpensans;
  line-height: 24px;
  color: #54585a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}


.logos {
  color: $fontColor;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fab,
.fas {
  color: $fontColor;
  margin-right: 10px;
}

@media all and (min-width: 768px) {

  /* Quizá esta etiqueta ahora podemos quitarla (Yol --> He probado a quitarla y los iconos se van al garete)*/


  .adalabers {
    flex-direction: row;
    align-items: center;
    min-width: 400px;
  }

  .adalabers:nth-child(even) {
    flex-direction: row-reverse;
    align-items: center;
    min-width: 400px;
  }

  .individual__text__norev {
    text-align: left;
  }

  .individual__bio {

    align-items: flex-end;

    &:nth-child(even) {
      text-align: right;
      align-items: flex-end;
    }
  }

  // .adalaber__cris,
  // .adalaber__yol {
  //   flex-direction: row-reverse;
  //   align-items: center;
  //   min-width: 400px;
  // }

  .reverse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }



  .individual__description__list {
    margin: 5%;
  }
}
