.individual {
  &__description {
    padding: 30px 15px 0px 15px;

  }

  &__description__title {
    font-family: $fontRubik;
    color: $fontColor;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
    

  }

  &__title {
    text-align: center;
    font-family: $fontOpensans;
    font-size: 20px;
    line-height: 45px;
  }

  &__image__adalaber {
    max-height: 180px;
    box-sizing: border-box;
    border: solid 5px;
    border-color: rgba(0, 0, 0, 0.08);
    margin: 0;
  }

  &__bio {
    font-family: $fontOpensans;
    line-height: 24px;
    color: #54585a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__text {
    text-align: center;
    font-size: 1.6rem;
  }
}

.anchor__who {
  display: block;
  position: relative;
  top: -110px;
  visibility: hidden;
}

.adalabers {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 45px 0px;
}

.logos {
  color: $fontColor;
  box-sizing: border-box;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fab,
.fas {
  color: $fontColor;
  margin-right: 10px;
}



@media all and (min-width: 768px) {


  .adalabers {
    flex-direction: row;
    min-width: 400px;
    padding: 30px 0px;
  }

  &__image__adalaber {
    max-height: 180px;
    box-sizing: border-box;
    border: solid 5px;
    border-color: rgba(0, 0, 0, 0.08);
    margin: 0;
  }

  &__bio {
    font-family: $fontOpensans;
    line-height: 24px;
    color: #54585a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__text {
    text-align: center;
  }

  .individual {
    &__description {
      padding: 45px 45px 30px 45px;
    }

    &__bio {
      align-items: flex-start;
      padding-left: 30px;
    }

    &__text {
      text-align: left;
    }

    &__description__title {
      padding-bottom: 15px;
    }

    &__image__adalaber {
      max-height: 205px;
    }
  }

  .adalabers:nth-child(even) {
    flex-direction: row-reverse;
    align-items: center;
    min-width: 400px;
  }

  .adalabers:nth-child(even) .individual__bio {
    align-items: flex-end;
    padding: 0px 30px 0px 0px;
  }

  .adalabers:nth-child(even) .individual__bio .individual__text {
    text-align: right;
  }

  .anchor__who {
    top: -70px;
  }
}

@media all and (min-width: 1200px) {
  .individual {
    &__description {
      padding: 45px 138px 30px 138px;

    }

    &__bio {
      align-items: flex-start;
      padding-left: 45px;
    }

    &__text {
      max-width: 550px;
    }
    &__image__adalaber {
      max-height: 278px;
    }

  }

  .adalabers:nth-child(even) .individual__bio {
    padding: 0px 45px 0px 0px;
  }
}
