.individual {
  &__description {
    padding: 3rem 1.5rem 0rem 1.5rem;
  }

  &__description__title {
    font-family: $fontRubik;
    color: $fontColor;
    line-height: 4.5rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 3rem;
    font-size: 2.4rem;
  }

  &__title {
    text-align: center;
    font-family: $fontOpensans;
    font-size: 2rem;
    line-height: 4.5rem;
  }

  &__image__adalaber {
    max-height: 18rem;
    border: solid 0.5rem;
    border-color: rgba(0, 0, 0, 0.08);
    margin: 0rem;
  }

  &__bio {
    font-family: $fontOpensans;
    line-height: 2.4rem;
    color: #54585a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__text {
    text-align: center;
    font-size: 1.6rem;
  }

  &__logos {
    color: $fontColor;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12.4rem;

    &__list:not(:first-child) {
      list-style-type: disc;
      color: black;
      align-self: center;
      font-size: 0.8rem;
    }

    &__link {
      font-size: 1.5rem;
    }
  }
}

.anchor__who {
  display: block;
  position: relative;
  top: -11rem;
  visibility: hidden;
}

.adalabers {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem 4.5rem 0rem;
}

.fab,
.fas {
  color: $fontColor;
}

@media all and (min-width: 768px) {


  .adalabers {
    flex-direction: row;
    min-width: 400px;
    padding: 3rem 0rem;
  }

  &__image__adalaber {
    max-height: 18rem;
    box-sizing: border-box;
    border: solid 5rem;
    border-color: rgba(0, 0, 0, 0.08);
    margin: 0;
  }

  &__bio {
    font-family: $fontOpensans;
    line-height: 2.4rem;
    color: #54585a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__text {
    text-align: center;
  }

  .individual {
    &__description {
      padding: 4.5rem 4.5rem 3rem 4.5rem;
    }

    &__bio {
      align-items: flex-start;
      padding-left: 3rem;
    }

    &__text {
      text-align: left;
    }

    &__description__title {
      padding-bottom: 1.5rem;
    }

    &__image__adalaber {
      max-height: 20.5rem;
    }
  }

  .adalabers:nth-child(even) {
    flex-direction: row-reverse;
    align-items: center;
    min-width: 40rem;
  }

  .adalabers:nth-child(even) .individual__bio {
    align-items: flex-end;
    padding: 0rem 3rem 0rem 0rem;
  }

  .adalabers:nth-child(even) .individual__bio .individual__text {
    text-align: right;
  }

  .anchor__who {
    top: -7rem;
  }
}

@media all and (min-width: 1200px) {
  .individual {
    &__description {
      padding: 4.5rem 13.8rem 3rem 13.8rem;
    }

    &__bio {
      align-items: flex-start;
      padding-left: 4.5rem;
    }

    &__text {
      max-width: 55rem;
    }

    &__image__adalaber {
      max-height: 27.8rem;
    }

  }

  .adalabers:nth-child(even) .individual__bio {
    padding: 0rem 4.5rem 0rem 0rem;
  }
}
