.individual__description {
    padding-top: 30px;
  }
  
  .individual__description__title {
    font-family: $fontRubik;
    color: $fontColor;
    line-height: 45px;
    text-align: center;
  }
  
  .individual__title {
    text-align: center;
    font-family: $fontOpensans;
    font-size: 20px;
    line-height: 45px;
    margin: 0;
  }
  
  .adalaber__bea,
  .adalaber__cris,
  .adalaber__marina,
  .adalaber__yol {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .individual__image__adalaber {
    max-height: 180px;
    box-sizing: border-box;
    border: solid 5px;
    border-color: rgba(0, 0, 0, 0.08);
    margin: 0;
  }
  
  .individual__bio {
    font-family: $fontOpensans;
    line-height: 24px;
    color: #54585a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 30px;
  }
  
  .individual__text__norev,
  .individual__text__rev {
    text-align: center;
  }
  
  .logos {
    color: $fontColor;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .fab,
  .fas {
    color: $fontColor;
    margin-right: 10px;
  }
  
  @media all and (min-width: 768px) {
  
    /* Quizá esta etiqueta ahora podemos quitarla */
    .individual__bio {
      text-align: left;
      align-items: flex-start;
    }
  
    .adalaber__bea,
    .adalaber__marina {
      flex-direction: row;
      align-items: center;
      min-width: 400px;
    }
  
    .individual__text__norev {
      text-align: left;
    }
  
    .adalaber__cris,
    .adalaber__yol {
      flex-direction: row-reverse;
      align-items: center;
      min-width: 400px;
    }
  
    .reverse {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  
    .individual__text__rev {
      text-align: right;
    }
  
    .individual__description__list {
      margin: 5%;
    }
  }
  