.contact {
  &__hero {
    background-image: url(../images/background__contact_320ult.jpg);
    background-size: cover;
    width: 100%;
    height: 30rem;
  }

  &__info {
    padding: 1.5rem 1.5rem 4.5rem 1.5rem;
    font-family: $fontOpensans;
    line-height: 2.4rem;
    font-size: 1.6rem;
    color: $textColor;

    &__title {
      font-size: 2.4rem;
      text-transform: uppercase;
      text-align: center;
      color: $fontColor;
      font-family: $fontRubik;
      line-height: 4.5rem;
      margin-top: 3rem;
    }

    &__text {
      text-align: center;
      margin: 0 auto;
      width: 90%;
    }

    &--small {
      text-align: center;
      padding-top: 2rem;
      font-size: 1.2rem;
    }
  }

}


.form {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 1.5rem 6rem 1.5rem;
  font-family: $fontOpensans;

  &__items {
    display: flex;
    flex-direction: column;


    &__label {
      margin: 1.3rem 0rem 0.7rem 0rem;
      font-size: 1.4rem;
      color: $textColor;

    }

    &__phone {
      padding-top: 1.3rem;
      font-size: 1.4rem;
    }

    &__email {
      padding-top: 1.3rem;
    }

    &__box {
      height: 4.5rem;
      padding-left: 1.5rem;
      font-size: 1.4rem;
      border: solid 0.1rem #b8b8b9;
      width: 100%;


      &--email {
        width: 100%;
        height: 4.5rem;
        border: solid 0.1rem #b8b8b9;
        padding-left: 1.5rem;
        margin-top: 0.7rem;
        font-size: 1.4rem;
      }

      &--phone {
        width: 100%;
        height: 4.5rem;
        border: solid 0.1rem #b8b8b9;
        padding-left: 1.5rem;
        margin-top: 0.7rem;
        font-size: 1.4rem;
      }
    }

    &__comment {
      padding-left: 1.5rem;
      padding-top: 1.1rem;
      border: solid 0.1rem #b8b8b9;
      font-size: 1.4rem;
      font-family: $fontOpensans;

    }

    &__button {
      margin-top: 3rem;
      height: 4.5rem;
      border-radius: 0.4rem;
      background-color: $fontColor;
      color: white;
      font-family: $fontOpensans;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.6rem;
      transition: all ease 1s;

    }

    &__button:hover {
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
      background-color: #1c756c;
    }
  }

  &__asterisc {
    color: $fontColor;
  }
}

@media all and (min-width: 768px) {
  .contact__hero {
    background-image: url(../images/background__contact_320.jpg);
    background-size: cover;
    width: 100%;
    height: 30rem;
  }

  .form {
    &__container {
      padding: 0rem 14.8rem;
    }

    &__items__button {
      width: 20.6rem;
      align-self: flex-end;
    }
  }
}

@media all and (min-width: 1200px) {
  .contact__hero {
    background-image: url(../images/background__contact_1200.jpg);
    background-size: cover;
    width: 100%;
    height: 40rem;
  }

  .form {
    &__container {
      padding: 0px 28.5rem;
    }

    &__items {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &__email {
        width: 39.5rem;
      }

      &__phone {
        width: 16.2rem;
      }

      &__button {
        width: 27.8rem;
        margin-bottom: 60px;
      }

      &__direction {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
      }
    }
  }
}
