* {
  box-sizing: border-box;
}

.contact__hero {
  background-image: url(/_src/assets/images/background__contact_320.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
}
.form .label {
  display: block;
  padding: 10px;
}
