.foot {
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #b8b8b9;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .foot__copy {
    font-family: $fontOpensans;
    font-size: 14px;
    color: #b8b8b9;
    text-align: center;
    box-sizing: border-box;
  }
  
  .foot__nav {
    font-family: $fontOpensans;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    color: #54585a;
    font-weight: 600;
    opacity: 0.75;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .foot__image {
    padding: 10px;
    box-sizing: border-box;
  }
  
  @media all and (min-width: 768px) {
    .foot {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 10px;
    }
  
    .foot__copy,
    .foot__nav,
    .foot__image {
      width: 50%;
    }
  
    .foot__nav__list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      line-height: 30px;
    }
  
    .foot__copy {
      text-align: left;
    }
  
    .foot__image {
      position: relative;
      bottom: 70px;
      width: 116px;
      padding: 0px;
      margin: 0px;
    }
  }