.footer {
  padding: 3rem 0rem 4.5rem 0rem;
  display: grid;
  border: 1px solid #b8b8b9;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem, 6rem, 4.5rem;
  font-size: 1.4rem;

  &__copyright {
    font-family: $fontOpensans;
    color: #b8b8b9;
    line-height: 2rem;
    text-align: center;
  }

  &__menu {
    font-family: $fontOpensans;
    text-align: center;
    line-height: 2rem;
    color: #54585a;
    font-weight: 600;
    opacity: 0.75;
    padding: 2rem 0rem 3rem 0rem;
    text-transform: uppercase;
  }

  &__logo {
    margin: 0rem auto;
  }
}

@media all and (min-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem, 9rem, 4.5rem;
    padding: 3rem 4.5rem 6rem 4.5rem;

    &__menu {
      padding: 0rem;
      grid-row: 1/3;
    }

    &__copyright {
      grid-row: 1/2;
      text-align: left;
    }

    &__menu__list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      line-height: 3rem;
      margin: 0rem;
    }

    &__logo {
      width: 11.6rem;
      margin: 0rem;
    }
  }
}

@media all and (min-width: 1200px) {
  .footer {
    padding: 3rem 13.8rem 4.7rem 13.8rem;
  }
}
