.footer {
    padding: 30px 0 45px 0;
    display: flex;
    border: 1px solid #b8b8b9;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    
    &__copyright { 
      font-family: $fontOpensans;
      color: #b8b8b9;
      line-height: 20px;
      text-align: center;

    }

    &__menu {
      font-family: $fontOpensans;
      text-align: center;
      line-height: 20px;
      color: #54585a;
      font-weight: 600;
      opacity: 0.75;
      padding: 20px 0px 30px 0px;
      text-transform: uppercase;

    }
  }
  

  
  @media all and (min-width: 768px) {
    .footer {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 24px 45px 6px 45px;
      

    &__copyright, &__menu, &__logo {
      width:50%;
      padding: 0px;
    }
    &__copyright {
      padding-top: 6px;
    }

    &__menu__list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      line-height: 30px;
      margin: 0px;
    }
  
    &__copyright {
      text-align: left;
    }
  
    &__logo {
      position: relative;
      bottom: 55px;
      width: 116px;
    }
    }
  }

  @media all and (min-width: 1200px){
    .footer{
      padding: 24px 138px 6px 138px;
    }
  }