.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(9, 157, 142, 0.9);
  color: white;
  font-size: 1.5rem;
  line-height: 3rem;
  font-family: rubik;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  opacity: 0.9;
  box-sizing: border-box;
  font-weight: 50rem;

  &__team__name {
    margin: 1.5rem;
    text-transform: capitalize;
    font-size: 1.6rem;
  }

  &__team__name__yes {
    text-transform: uppercase;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(20, 217, 197, 0.9);
    width: 100%;
  }

  &__menu__options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {

  &__team,
  &__who,
  &__contact {
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    text-decoration: none;
    font-weight: 50rem;
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  &__who {
    min-width: 14rem;
  }
}

// DISEÑO RESPONSIVE

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 3rem 0rem 3rem;
    align-items: baseline;

    &__team__name {
      min-width: 35%;

    }

    &__menu {
      background-color: transparent;
      width: 50%;
    }

    &__menu__options {
      justify-content: flex-end;
    }
  }
}

@media all and (min-width: 1200px){

  nav__team{
    font-size: 1.5rem;
  }
  hero__claim {
    font-size: 2.4rem;
  }
}