.hero {
  background-image: url(../images/hero_768px.jpg);
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 55rem;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  &__claim {
    font-family: OpenSans-Semibold;

    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: white;
    width: 80%;
    transform: translateY(50%);
    padding: 1rem;
    margin: 0rem;
    font-weight: 60rem;
  }
}

@media all and (min-width: 768px) {
  .hero {
    background-image: url(../images/hero_1200px.jpg);
    align-items: flex-start;

    &__claim {
      transform: translateY(0%);
      margin-left: 5%;
      max-width: 50rem;
      opacity: 0.8;
      font-size: 1.8rem;
    }
  }
}
