.qualities {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #e8e2e1;
    width: 100%;
    padding: 0rem 1.5rem 4.5rem 1.5rem;
  }

  &__title {
    font-family: $fontRubik;
    font-size: 2.2rem;
    font-weight: 50rem;
    text-align: center;
    color: $fontColor;
    height: 4.5rem;
    margin-top: 3rem;
  }

  &__description {
    font-size: 1.6rem;
    font-family: $fontOpensans;
    text-align: center;
    line-height: 2.4rem;
    color: #54585a;
  }
}

@media all and (min-width: 768px) {
  .qualities {
    &__container {
      flex-direction: row;
      justify-content: space-between;
      padding: 4.5rem 4.5rem 6rem 4.5rem;
    }

    &--strengths,
    &--weaknesses {
      width: 50%;
      padding: 0rem 1.5rem;
    }

    &__title {
      margin-top: 0rem;
    }

    &__description {
      text-align: center;
    }
  }
}

@media all and (min-width: 1200px) {
  .qualities {
    &__container {
      padding: 4.5rem 13.8rem 6rem 13.8rem;
    }

    &--strengths,
    &--weaknesses {
      padding: 0rem 2.3rem;
    }
  }
}
