.team {
  width: 100%;
  margin-top: 90px;

  &__h2 {
    font-family: $fontRubik;
    font-size: 24px;
    text-align: center;
    color: $fontColor;
    height: 45px;
    align-self: center;
    text-transform: uppercase;
  }

  &__descrip {
    box-sizing: border-box;
    font-size: 16px;
    font-family: $fontOpensans;
    text-align: center;
    line-height: 24px;
    color: #54585a;
    align-self: center;
    padding: 0% 5% 0% 5%;
  }
}

.anchor__helper {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

/* DECORATION */
.decoration {
  height: 30px;
  width: 30px;
  background: white;
  transform: rotate(45deg) translate(30%, 30%);

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media all and (min-width: 768px) {
  .anchor__helper {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
  }

  .team {
    margin-top: 50px;
  }
}
