.team {
  width: 100%;
  margin-top: 40px;
  padding: 30px 15px 30px 15px;

  &__h2 {
    font-family: $fontRubik;
    font-size: 24px;
    text-align: center;
    color: $fontColor;
    height: 45px;
    align-self: center;
    text-transform: uppercase;
  }

  &__description {
    font-size: 16px;
    font-family: $fontOpensans;
    text-align: center;
    line-height: 24px;
    color: #54585a;
    align-self: center;
  }
}

.anchor__helper {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

@media all and (min-width: 768px) {
  .anchor__helper {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
  }

  .team {
    margin-top: 0px;
    padding: 45px 45px 30px 45px;
  }
}

@media all and (min-width: 1200px){
  .team {
    padding: 45px 0px 30px 0px;
  &__description {
    max-width: 601px;
    margin: 0 auto;    
  }
  }
}
/* DECORATION */
.decoration {
  height: 30px;
  width: 30px;
  background: white;
  transform: rotate(45deg) translate(30%, 30%);

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}