.team {
    width: 100%;
    margin-top: 80px;
  }
  
  .team__h2 {
    font-family: $fontRubik;
    font-size: 24px;
    text-align: center;
    color: $fontColor;
    height: 45px;
    align-self: center;
  }
  
  .team__descrip {
    box-sizing: border-box;
    font-size: 16px;
    font-family: $fontOpensans;
    text-align: center;
    line-height: 24px;
    color: #54585a;
    align-self: center;
    padding: 0% 5% 0% 5%;
  }
  
  /* DECORATION */
  .decoration__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .decoration {
    height: 30px;
    width: 30px;
    background: white;
    transform: rotate(45deg) translate(30%, 30%);
  }