.team {
  width: 100%;
  margin-top: 4rem;
  padding: 3rem 1.5rem 3rem 1.5rem;

  &__h2 {
    font-family: $fontRubik;
    font-size: 2.4rem;
    text-align: center;
    color: $fontColor;
    height: 4.5rem;
    align-self: center;
    text-transform: uppercase;
  }

  &__description {
    font-size: 1.6rem;
    font-family: $fontOpensans;
    text-align: center;
    line-height: 2.4rem;
    color: #54585a;
    align-self: center;
  }
}

.anchor__helper {
  display: block;
  position: relative;
  top: -12rem;
  visibility: hidden;
}

@media all and (min-width: 768px) {
  .anchor__helper {
    display: block;
    position: relative;
    top: -8rem;
    visibility: hidden;
  }

  .team {
    margin-top: 0px;
    padding: 4.5rem 4.5rem 3rem 4.5rem;
  }
}

@media all and (min-width: 1200px){
  .team {
    padding: 4.5rem 0rem 3rem 0rem;
  &__description {
    max-width: 60.1rem;
    margin: 0rem auto;    
    }
  }
}

.decoration {
  height: 3rem;
  width: 3rem;
  background: white;
  transform: rotate(45deg) translate(30%, 30%);

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}