.container__qualities {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    background-color: #e8e2e1;
    width: 100%;
    padding: 5%;
  }
  
  .container__qualities__strengths {
    width: 100%;
    box-sizing: border-box;
  }
  
  .qualities {
    font-family: $fontRubik;
    font-size: 22px;
    font-weight: 500px;
    text-align: center;
    align-self: center;
    color: $fontColor;
    height: 45px;
  }
  
  .descrip__qualities {
    box-sizing: border-box;
    font-size: 16px;
    font-family: $fontOpensans;
    text-align: center;
    line-height: 24px;
    color: #54585a;
  }
  
  .container__qualities__weaknesses {
    width: 100%;
    box-sizing: border-box;
  }
  
  @media all and (min-width: 768px) {
    .container__qualities {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
  
    .container__qualities__weaknesses,
    .container__qualities__strengths {
      max-width: 400px;
    }
  
    .container__qualities__strengths {
      margin-right: 10px;
    }
  
    .container__qualities__weaknesses {
      margin-left: 10px;
    }
  }
  
  @media all and (min-width: 1200px) {
  
    .container__qualities__weaknesses,
    .container__qualities__strengths {
      max-width: 500px;
    }
  }
  