body {
  margin: 0px;
  padding: 0px;
}

* {
  list-style: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(9, 157, 142, 0.9);
  color: white;
  font-size: 15px;
  line-height: 30px;
  font-family: rubik;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  opacity: 0.9;
  box-sizing: border-box;
  font-weight: 500px;
}

.header__team__name {
  margin: 15px;
  flex-grow: 1;
}

.header__menu {
  display: flex;
  flex-direction: row;
  background-color: rgba(20, 217, 197, 0.9);
  width: 100%;
}

.header__options__menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0px 20px;
}

.nav__team,
.nav__who,
.nav__contact {
  color: white;
  box-sizing: border-box;
  padding: 10px;
  text-decoration: none;
  font-weight: 500px;
}


@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    align-items: baseline;
  }

  .header__team__name {
    min-width: 35%;
  }

  .header__menu {
    background-color: transparent;
    /* width: 50%; */
  }

  .header__options__menu {
    justify-content: flex-end;
  }
}

/* HERO */

.hero {
  background-image: url(../images/hero_768px.jpg);
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 400px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.hero__claim {
  font-family: OpenSans;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  background-color: white;
  width: 80%;
  transform: translateY(50%);
  padding: 10px;
  margin: 0px;
  font-weight: 600px;
}

@media all and (min-width: 768px) {
  .hero {
    background-image: url(../images/hero_1200px.jpg);
    align-items: flex-start;
  }

  .hero__claim {
    transform: translateY(0%);
    margin-left: 5%;
    max-width: 500px;
    opacity: 0.8;
  }
}

/*  TEAM */
.team {
  width: 100%;
  margin-top: 80px;
}

.team__h2 {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  text-align: center;
  color: #099d8d;
  height: 45px;
  align-self: center;
}

.team__descrip {
  box-sizing: border-box;
  font-size: 16px;
  font-family: OpenSans;
  text-align: center;
  line-height: 24px;
  color: #54585a;
  align-self: center;
  padding: 0% 5% 0% 5%;
}

/* DECORATION */
.decoration__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.decoration {
  height: 30px;
  width: 30px;
  background: white;
  transform: rotate(45deg) translate(30%, 30%);

}

/* QUALITIES S&F */

.container__qualities {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
  background-color: #e8e2e1;
  width: 100%;
  padding: 5%;
}

.container__qualities__strengths {
  width: 100%;
  box-sizing: border-box;
}

.qualities {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 500px;
  text-align: center;
  align-self: center;
  color: #099d8d;
  height: 45px;

}

.descrip__qualities {
  box-sizing: border-box;
  font-size: 16px;
  font-family: OpenSans;
  text-align: center;
  line-height: 24px;
  color: #54585a;
}


.container__qualities__weaknesses {
  width: 100%;
  box-sizing: border-box;
}

@media all and (min-width: 768px) {
  .container__qualities {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .container__qualities__weaknesses,
  .container__qualities__strengths {
    max-width: 400px;

  }
}

@media all and (min-width: 1200px) {

  .container__qualities__weaknesses,
  .container__qualities__strengths {
    max-width: 500px;
  }
}

/* INDIVIDUAL BEA INICIO */

.individual__description__title {
  padding-top: 55px;
  text-align: center;
}

.adalaber {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 5px solid black; */
  box-sizing: border-box;
  margin-bottom: 40px;
  padding: 20px;
}

.individual__image__adalaber {
  max-height: 180px;
  box-sizing: border-box;
  border: solid 5px;
  border-color: #00000014;
  border-radius: 5%;
  margin: 0;
}

.individual__bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid red; */
  width: 100%;
}

.individual__title {
  /* border: green solid 2px; */
  text-align: center;
  font-family: OpenSans;
  font-size: 20px;
  line-height: 45px;
  /* align-self: center; */
  margin: 0;
}

.individual__bio_text {
  /* border: green solid 2px; */
  text-align: center;
  max-width: 290px;
  font-family: OpenSans;
  font-size: 16px;
  align-self: center;
  color: #54585a;
  margin: 0;
}

.individual__socialnetworks {
  /* border: green solid 2px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  min-height: 30px;
  max-width: 124px;
  margin: 0;
}

.logo {
  height: 30px;
  width: 30px;
  /* border: yellow solid 2px; */
  box-sizing: border-box;
  padding: 5px;
  flex: auto;
  margin-top: 10px;
}

@media all and (min-width: 768px) {
  .adalaber {
    flex-direction: row;
  }

  .adalaber__left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .adalaber__right {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .individual__bio__left {
    align-items: flex-start;
    padding: 0px 40px;
  }

  .individual__bio__right {
    align-items: flex-end;
    padding: 0px 40px;
  }

  .individual__bio__text__left {
    max-width: 100%;
    text-align: left;
  }

  .individual__bio__text__right {
    max-width: 100%;
    text-align: right;
  }

  .individual__title__left {
    text-align: left;
  }

  .individual__title__right {
    text-align: right;
  }

  .individual__socialnetworks__left {
    display: flex;
    flex-direction: row;
  }

  .individual__socialnetworks__right {
    display: flex;
    justify-content: flex-end;
  }
}

/* FOOTER  */

.foot {
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  border: 1px solid #b8b8b9;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.foot__copy {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #b8b8b9;
  text-align: center;
  box-sizing: border-box;
}

.foot__nav {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #54585a;
  font-weight: 600;
  opacity: 0.75;
  padding: 10px;
  box-sizing: border-box;
}

.foot__image {
  padding: 10px;
  box-sizing: border-box;

}

@media all and (min-width: 768px) {
  .foot {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
  }

  .foot__copy,
  .foot__nav,
  .foot__image {
    width: 50%;
  }

  .foot__nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 30px;
  }

  .foot__copy {
    text-align: left;
  }

  .foot__image {
    position: relative;
    bottom: 70px;
    width: 116px;
    padding: 0px;
    margin: 0px;
  }
}

ul {
  padding: 0px;
  margin: 0px;
}