    body {
        margin: 0px;
    }

    h2 {
        margin: 0px;
    }

    /* INICIO HEADER */
    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* Ahora está para Mobile, posteriormente tendremos que configurar que si pasa de tal medida X la pantalla se pase a Row */
        background-color: rgba(9, 157, 142, 0.9);
        /* METEMOS LAS TRANSPARENCIAS??? ESTÁ METIDA Y FUNCIONA*/
        color: white;
        font-size: 16px;
        font-family: rubik;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
        opacity: 0.9;
        /* hE METIDO ESTE OPACITY PARA QUE LO HEREDE EL HIJO */
    }

    .header__team__name {
        margin: 8px;
    }

    .header__menu {
        display: flex;
        flex-direction: row;
        background-color: rgba(20, 217, 197, 0.9);
        /* METEMOS LAS TRANSPARENCIAS?? ESTA METIDA PERO NO ME SALE*/
        width: 100%;
        height: 45px;
    }

    .header__options__menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0px 20px 0px 20px;
    }

    .nav__team,
    .nav__who,
    .nav__contact {
        color: white;
        box-sizing: border-box;
        padding: 20px;
    }

    /* FIN HEADER */

    .hero {
        height: 316px;
        width: 100%;
        /* display: flex;
    justify-content: center;
    align-items: flex-end; */
        /*pruebas de proyectos anteriores para ajustar imagen del hero*/
        /* background-size: cover;
    -webkit-box-pack: center;
    position: relative; */
    }

    .hero__image {
        position: relative;
        z-index: -1;
        width: 100%;

    }

    .hero__claim {
        height: 80px;
        width: 290px;
        background-color: white;
        border: solid salmon;
        font-family: OpenSans-Semibold;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        top: -43px;
    }

    .team {
        width: 320px;
        height: 504px;
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        position: relative;
        top: 96px;
    }

    .team__h2 {
        color: aqua;
        font-family: Rubik-Medium;
        font-size: 24px;
        line-height: 45px;
        text-align: center;
    }

    .team_descrip {
        width: 100%;
        font-size: 16px;
        font-family: OpenSans;
        text-align: center;
        line-height: 24px;
        color: #54585a;
    }


    /* INDIVIDUAL BEA INICIO */


    .bea {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 5px solid black;
        box-sizing: border-box;
    }

    .individual__image {}

    .individual__image__adalaber {
        max-height: 180px;
        box-sizing: border-box;
        border: solid 5px;
        border-color: rgba(0, 0, 0, 0.08);
    }

    .individual__bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 3px solid red;
    }

    .individual__title {
        border: green solid 2px;
        text-align: center;
        font-family: OpenSans;
        font-size: 20px;
        line-height: 45px;
        align-self: center;

    }

    .individual__bio_text {
        border: green solid 2px;
        text-align: center;
        width: 100%;
        font-family: OpenSans;
        font-size: 16px;
        align-self: center;
        color: #54585a;
    }

    .individual__socialnetworks {

        border: green solid 2px;
        width: 100%;
        /* width: 124px; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10, 30, 10, 30;



    }

    .logo {

        height: 30px;
        width: 10px;
        border: yellow solid 2px;
        padding: auto;
        margin: auto;


    }

    /* INDIVIDUAL BEA FIN  */

    .foot {
        padding: 30px, 74px, 0px, 74px;
        display: flex;
        box-sizing: border-box;
        border: 1px solid #b8b8b9;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .foot__copy {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: #b8b8b9;
        height: 15;
        width: 165;
    }

    .foot__nav {
        /*padding: 70px, 103px, 120px, 103px;*/
        height: 60;
        width: 120;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        line-height: 1.43;
        justify-content: center;
        text-align: center;
        color: #54585A;
        font-weight: 600;
        opacity: 0.75;
    }

    .section3 {
        width: 150px;
        height: 50px;
    }

    ul {
        padding: 0px;
        margin: 0px;
    }

    li {
        list-style: none;
    }

    /*h2 */
    .qualities {
        font-family: 'Rubik', sans-serif;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        color: #099d8d;
        height: 45px;
    }

    .descrip__qualities {
        box-sizing: border-box;
        font-size: 16px;
        font-family: OpenSans;
        text-align: center;
        line-height: 24px;
        color: #54585a;
    }

    .container__qualities {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-around;
        padding: 30px 0px 45px 15px;
        background-color: #e8e2e1;
        width: 100%;
        position: relative;
        top: 30px;
    }

    .container__qualities__strengths {
        width: 100%;
        box-sizing: border-box;
    }

    .container__qualities__weaknesses {
        width: 100%;
        box-sizing: border-box;
    }