body {
    margin: 0px;
}
h2 {
    margin:0px;
}
.header {
    display: flex;
    flex-direction: column;
    /* Ahora está para Mobile, posteriormente tendremos que configurar que si pasa de tal medida X la pantalla se pase a Row */
    background-color: #099d8d;
    color: white;
    font-size: 16px;
    font-family: rubik;
    justify-content: space-between;
    align-items: center;
    border: solid grey;
    position: fixed;
    z-index: 2;
}
.header_team_name {
    margin: 8px;
    text-align: center;
    border: solid red;
}
.header_menu {
    display: flex;
    flex-direction: row;
    background-color: #14d9c4;
    width: 100%;
    height: 45px;
    border: solid red;
}
.header_options_menu {
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: solid green;
    margin: 0px 20px 0px 20px;
}

.main {

}
.hero {
    height: 316px;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: flex-end; */
    /*pruebas de proyectos anteriores para ajustar imagen del hero*/
    /* background-size: cover;
    -webkit-box-pack: center;
    position: relative; */
}

.hero_image {
    position: relative;
    z-index: -1;
    width: 100%;

}
.hero_claim {
    height: 80px;
    width: 290px;
    background-color: white;
    border: solid salmon;
    font-family: OpenSans-Semibold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    top: -43px;
}

.team {
    width: 320px;
    height: 504px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    position: relative;
    top: 96px;
}

.team_h2 {
    color: aqua;
    font-family: Rubik-Medium;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
}

.team_descrip {
    width: 290px;
    height: 384px;
    font-size: 16px;
    font-family: OpenSans;
    text-align: center;
    line-height: 24px;
    color: #54585a;
}

.foot {
    padding: 30px, 74px, 0px, 74px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 320px;
    height: 250px;

}

.section1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #b8b8b9;
    height: 15;
    width: 165;
}

.section2 {
    /*padding: 70px, 103px, 120px, 103px;*/
    height: 60;
    width: 120;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.43;
    justify-content: center;
    text-align: center;
    color: #54585A;
    font-weight: 600;
    opacity: 0.75;
}

.section3 {
    width: 150px;
    height: 50px;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style: none;
}