body {
  margin: 0px;
}

h2 {
  margin: 0px;
}

/* INICIO HEADER */
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Ahora está para Mobile, posteriormente tendremos que configurar que si pasa de tal medida X la pantalla se pase a Row */
  background-color: rgba(9, 157, 142, 0.9);
  /* METEMOS LAS TRANSPARENCIAS??? ESTÁ METIDA Y FUNCIONA*/
  color: white;
  font-size: 16px;
  font-family: rubik;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  opacity: 0.9;
  /* hE METIDO ESTE OPACITY PARA QUE LO HEREDE EL HIJO */
}

.header__team__name {
  margin: 8px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  background-color: rgba(20, 217, 197, 0.9);
  /* METEMOS LAS TRANSPARENCIAS?? ESTA METIDA PERO NO ME SALE*/
  width: 100%;
  height: 45px;
}

.header__options__menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 0px 20px;
}

.nav__team,
.nav__who,
.nav__contact {
  color: white;
  box-sizing: border-box;
  padding: 20px;

}

/* FIN HEADER */
/* HERO */

.hero {
  background-image: url(../images/hero_320px.jpg);
  background-size: cover;
  background-position: left;
  width: 100%;
  height: 400px;
  position: relative;
  bottom: 10px;
  z-index: 0;
}

.hero__claimbox {
  position: relative;
  bottom: -351px;
  left: 23px;
  width: 86%;
  min-width: 250px;
  max-width: 350px;
  box-sizing: border-box;
  background-color: white;
  padding: 10px 10px 15px 10px;
}

.hero__claim {
  font-family: OpenSans-Semibold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

@media all and (min-width: 500px) {
  .hero {
    background-image: url(../images/hero_1200px.jpg);
  }
}

/* FIN HERO */
/* INICIO TEAM */
.team {
  width: 100%;
  /* Revisar altura para responsive */
  height: 504px;
  display: flex;
  /* flex-direction: column; Cuando descomentamos column, el titulo de equipo "pisa" el claim */
  /* text-align: center; Nos hace falta? */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  margin: auto;
}

/* @media (min-width: 768px) {
  .team__background {
    height: 303px;
​
  }
} */
.team__background {
  background: white;
  margin: 0 15px;
  text-align: center;
  /* color: #099d8d; */
  font-family: Rubik;
}

​ .team__background__h2 {
  color: #099d8d;
  font-family: Rubik;
  font-size: 24px;
  line-height: 45px;
  text-align: center;
}

​ .team__background__descrip {
  width: 100%;
  font-size: 16px;
  font-family: OpenSans;
  text-align: center;
  line-height: 24px;
  color: #54585a;
}

p. {
  color: #54585a;
}

/* FIN TEAM */

/* INDIVIDUAL BEA INICIO */

.adalaber {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 5px solid black; */
  box-sizing: border-box;
  margin-bottom: 40px;
  padding: 20px;
}

.individual__image {}

.individual__image__adalaber {
  max-height: 180px;
  box-sizing: border-box;
  border: solid 5px;
  border-color: rgba(0, 0, 0, 0.08);
  margin: 0;
}

.individual__bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid red; */
  width: 100%;
}

.individual__title {
  /* border: green solid 2px; */
  text-align: center;
  font-family: OpenSans;
  font-size: 20px;
  line-height: 45px;
  align-self: center;
  margin: 0;
}

.individual__bio_text {
  /* border: green solid 2px; */
  text-align: center;
  max-width: 290px;
  font-family: OpenSans;
  font-size: 16px;
  align-self: center;
  color: #54585a;
  margin: 0;
}

.individual__socialnetworks {
  /* border: green solid 2px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  min-height: 30px;
  max-width: 124px;
  margin: 0;
}

.logo {
  height: 30px;
  width: 30px;
  /* border: yellow solid 2px; */
  box-sizing: border-box;
  padding: 5px;
  flex: auto;
  margin-top: 10px;
}

/* INDIVIDUAL BEA FIN  */




.foot {
  padding: 30px, 74px, 0px, 74px;
  display: flex;
  box-sizing: border-box;
  border: 1px solid #b8b8b9;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.foot__copy {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #b8b8b9;
  height: 15;
  width: 165;
  text-align: center;
}

.foot__nav {
  /*padding: 70px, 103px, 120px, 103px;*/
  height: 60;
  width: 120;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  justify-content: center;
  text-align: center;
  color: #54585a;
  font-weight: 600;
  opacity: 0.75;
}

.section3 {
  width: 150px;
  height: 50px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

/*h2 */
.qualities {
  font-family: "Rubik", sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: #099d8d;
  height: 45px;
}

.descrip__qualities {
  box-sizing: border-box;
  font-size: 16px;
  font-family: OpenSans;
  text-align: center;
  line-height: 24px;
  color: #54585a;
}

.container__qualities {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 0px 45px 15px;
  background-color: #e8e2e1;
  width: 100%;
  position: relative;
  top: 30px;
}

.container__qualities__strengths {
  width: 100%;
  box-sizing: border-box;
}

.container__qualities__weaknesses {
  width: 100%;
  box-sizing: border-box;
}